//VARIABLES 

$color-fuentes: #ffffff;
$color-fondo: #2b0043;
$color-fondo-secundario: #b90078;
$color-botones:  #b20068;
$color-botones-secundarios: #770045;

$primario: #a60aa4;
$secundario: #8B26B9;
$triada: #3B13D2;
$complemento: #A3FFDB;
$acento: #b3ff00;